*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html,body{
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
:root{
    --light-color:#0089b7;
    --dark-color:#003d62;
    --darker-color:#003251;
    --secondary-color:#fff700;
}
header{
    position: sticky;
    top: 0;
    background-color: var(--light-color);
}
.cointanier{
    display: flex;
    justify-content: space-between;
    
    max-width: 1300px;
    margin: 0 auto;
    
}
ul{
    list-style: none;

}
nav ul{
    display: flex;
    gap: 1rem;

}
.logo{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
nav li{
    font-size:  1.8rem;
    transition: 0.3s ease-in-out;
    border-bottom: 0.3rem var(--secondary-color)transparent;
    
}
nav li:hover{
    transition: 0.3s ease-in-out;
    border-bottom: 0.3rem var(--secondary-color)solid;
}
nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
}
.hero{
    background-color: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 5px solid var(--light-color);

}
.hero .cointanier{
        display: flex;
        align-items: center;
        justify-content: space-around;
}
.hero-content{
    display: grid;
    place-items: center;
}
.hero h1{
    font-size: 3rem; 
    font-weight: bold;
  



}
.hi-text{
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
    

.john-doe{
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
}


.hero-content h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15rem solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40 ,end),blink-caret 0.75s step-end infinite;
}
@keyframes blink-caret{
    from,to{
        border-color: transparent;

    }
    50%{
        border-color: orange;
    }
}
@keyframes typing{
    from {
        width: 0;


    }

   to{
    width: 100%;
   }
}
/* project section */
#project {
    background: var(--darker-color);
  }
  
  #project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  .grid_item {
    display: grid;
    place-items: center;
  }
.card{
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    
}

    .card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 1s ease-in-out;
    opacity: 0.8;
    
}
.card_content{
    padding: 2rem;
    position: relative;
    top: -0.5rem;
    margin-bottom:-0.5rem ;
    transition: 0.3s ease-in-out;
    transform: translateY(100px);
}
.card:hover .card_content{
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
}
.card_content h3{
    text-align: center;
}
.contact{
    background: var(--dark-color);
}
.contact h2{
    text-align: center;
    font-size: 6rem;
    margin: 2rem 0;
}
.contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  
  .top_contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .contact_way i {
    font-size: 3rem;
  }
  .contact_way h3 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .bottom_contact {
    max-width: 400px;
    gap: 1rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  footer{
    background: var(--darker-color);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
  }
  @media (max-width: 786px) {
    html {
      font-size: 40%;
    }
    .hero .container {
      flex-direction: column;
    }
    .hero_img {
      display: grid;
      place-items: center;
    }
    .contact .container {
      height: 70vh;
    }
  }
  @media (max-width: 500px) {
    html {
      font-size: 32%;
    }
    .hero .container {
      flex-direction: column;
    }
    .hero-img {
      display: grid;
      place-items: center;
    }
    .contact .container {
      height: 50vh;
    }
  }